@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: #000000;
  --background: #E91E63;
}

body {
  color: var(--foreground);
  background: var(--background);
}

@layer utilities {
  .rotate-y-0-pers-800 {
    transform: perspective(800px) rotateY(0deg);
  }
  .rotate-y-90-pers-800 {
    transform: perspective(800px) rotateY(90deg);
  }
  .rotate-y-270-pers-800 {
    transform: perspective(800px) rotateY(270deg);
  }
  .rotate-y-360-pers-800 {
    transform: perspective(800px) rotateY(360deg);
  }
}
